{% load i18n %}
{% load static %}
{% block 'body' %}
<title>Pagina Inicial</title>
<div class="newsletter-form">
    <h2>Assine nossa Newsletter</h2>
    <form action="#" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Seu e-mail" required>
        <br>
        <input type="submit" value="Inscrever-se">
    </form>
    <a href="{% url 'Core:blog' %}">blog</a>
</div>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }
    .newsletter-form {
        text-align: center;
    }
    .newsletter-form input[type="email"] {
        padding: 10px;
        margin-bottom: 10px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
    .newsletter-form input[type="submit"] {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .newsletter-form input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}